<h2>Your To-Do List</h2>

<% if current_user %>
    <div class="col-md-8">
        <%= render 'items/item', locals: { user: @user, items: @items } %>
        </div>
        <div class='new-item'>
            <%= render "items/form", locals: { user: @user, item: @item } %>
        </div>
    </div>
<% end %>
