
<!-- <div class="jumbotron"> -->
  <div class="container main-about">
    <div class="col-md-12 about">
      <div class="about-1">
        BLOC<br>
        YOUR<br>
        TO-DO<br>
        OFF
      </div>
      <div class="about-2">
        <p> "How about creating your own self destructive to-do list ...<br>
          ... and actually get things done !"
        </p>
      </div>
    </div>
  </div>
  <div class="container text-center main-body">
    <!-- <h1>Bloc it off</h1> -->
    <!-- <p>Manage your To-do list!</p> -->
  </div>
<!-- </div> -->
