  <div class="container">
    <div class="col-md-12 mainpage-body">
      <div class="main-page-body-text-1">
        <span class="main-page-body-text-bold"> Simplify </span><span>the way you work.</p>
        </span>
      </div>
      <div class="main-page-body-text-2">
        <p> Manage your workload, communicate with your results and celebrate success</p>
      </div>

    </div>
    <div class="background-design-2">
    </div>
    <div class="background-design">
    </div>
  </div>
  <div class="container text-center main-body">
  </div>
