<%= form_for @item, remote: true do |f| %>
    <%= f.text_field :name, class: 'form-control input-field', placeholder: "Enter new task", style: 'width: 45vw; display:inline-block' %>
    <span class="form-group", style="padding-top:10px; display:inline-block; height: 7vh">
        <%= f.submit "Add Task", class: 'btn btn-warning' %>
    </span>
<% end %>
