<div class="task-list-box">
  <h2 class="task-list-box-title">New Tasks</h2>
  <% @items.each do |item| %>
    <div class="media">
       <div class="media-body">
         <h4 class="media-heading">
           <%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-check', data: {confirm: 'Are you sure you want to mark this item?'} %>
           <%= link_to item.name, item, style: 'color: black; font-size: 25px;', class: 'css_class'%>
          </h4>
          <span class="task-creation-date"><%= item.created_at.to_date %></span>
         <span class="time-left">
          <%= distance_of_time_in_words(Time.now, item.created_at.to_date + 7 ) %> left <br>
        </span>
       </div>
    </div>
  <% end %>
</div>
