// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.all-todos {
  color: black;
}

.time-left {
  color: black;
  font-family: 'Architects Daughter', cursive;
}
