// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-design{
  background-color: orange;
  height: 800px;
  transform: rotate(48deg);
  z-index: -1;
  transform-origin: 70% 60%;
  right:-400px;
  position: relative;
  bottom: 100px;
  top: -760px;
}

.background-design-2 {
  background-color: orange;
  height: 800px;
  transform: rotate(48deg);
  z-index: -2;
  transform-origin: 70% 60%;
  right:-400px;
  position: relative;
  opacity: 0.5;
  bottom: 50px;
}

.main-page-body-text-1{
  font-size: 50px;
  margin-top: 120px;
}

.main-page-body-text-2{
  font-size: 20px;
  margin-top: 20px;
}

.main-page-body-text-bold{
  font-weight: bold;
}
