// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-body {
  background: asset-url('blocitoff.png') no-repeat center;
  height: 600px;
  width: 80%;
  color: orange;
  background-size: cover;
  // text-align: center;
}
